*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.meusBotoes{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, .2);
}

.semana{
    text-align: center;
    border: 2px solid rgba(0, 0, 0, .5);
    margin: 10px ;
    padding: 20px;
}

button {
    font-size: 28px;
    margin: 10px;
    padding: 10px;
    background: rgb(12, 132, 124);
    border: none;
    cursor: pointer;
    color: rgba(0, 0, 0, .5);
    box-shadow: 2px 4px 5px black;
    transition: all .2s;
    border-radius: 8px;
}

@keyframes vibrar {
    0% {
        transform: rotateZ(1deg);
    }

    20% {
        transform: rotateZ(-1deg);
    }

    40% {
        transform: rotateZ(1deg);
    }

    60% {
        transform: rotateZ(-1deg);
    }

    80% {
        transform: rotateZ(1deg);
    }

    100% {
        transform: rotateZ(-1deg);
    }
}

button:hover {
    animation-name: vibrar;
    animation-duration: .5s;
    color: #c1c1c1;
}

button:active {
    transform: translateY(2px);
    box-shadow: none;
    background: rgb(3, 251, 235);
    color: rgba(0, 0, 0, .5);
}

#op{
    font-size: 40px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}